@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Arima:wght@200&family=Caveat&family=Comfortaa:wght@300&family=Dancing+Script&family=Dosis:wght@300&family=Flamenco&family=Headland+One&family=Josefin+Sans:wght@500&family=Lobster&family=McLaren&family=Montserrat&family=Mukta+Mahee:wght@200&family=Nunito:wght@200&family=Pacifico&family=Quicksand:wght@300&family=Rubik+Moonrocks&family=Shadows+Into+Light&family=Titan+One&display=swap');
html {
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.hero{
    height: 90vh;
    width: 100vw;
    background-image:url(./img/low-angle-shot-interior-road-tower-captured-copenhagen-denmark.jpg) ;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.small-box{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    top:50%;
    left: 50%;
    position: absolute;
    text-align: left;
    transform: translate(-50%,-50%);
}
.box-text1{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}
@media screen and (min-width: 1024px) {
    .box-text1{
        font-size: 4.0625rem;
    }
}
.hero-btn{
    color: white;
    font-family:'Dosis', sans-serif;
    font-size: 20px;
    background-color: #555c66;
    padding:10px;
    width: 300px;
    border:none;
}
.hero-btn:hover{
    background-color: black;
    color:white;
}

.white-area{
    width: 100vw;
    background-color: #ffffff;
    position: relative;
    padding: 0 20px 30px 20px;
}
.g1{
    font-family: 'Nunito', sans-serif;
    padding: 25px;
    font-size: 3.75rem;
    color: #555c66;
}
.col-lg-6{
    text-align: center;
}
.card{
    float:left;
    margin-left: 55px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
#s1{
    margin-top: 100px;
    background-image: url(./img/cabinet-tv-modern-living-room-with-armchair-lamp-table-flower-plant-concrete-wall-background-3d-rendering.jpg);
    height: 80vh;
    width: 100%;
}
.white-space{
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px 20px 40px;
}
.b1,
.b2{
    padding: 10px;
}
.b1:hover{
    background-color: black;
    color: white;
}
.b2:hover{
    background-color: black;
    color: white;
}

.card:hover{
    transform: scale(1.3);
}
.reviews{
    width: 100%;
}



#r1{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 20px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    
}
#r1:hover{
    transform: scale(1.1);
}
.ending-part{
    width: 100%;
    margin-top: 100px;
    background-color: #404040;
}
.last-div{
    align-items: center;
}




